################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DrawingApp/DrawingApp/obj
/DrawingApp/DrawingApp/bin
*.cache
